
/* Sans Serif font */
@font-face { /* sans serif regular */
	font-family: 'cmu_sans';
	src: url('https://gitlab.com/isonder/cmfonts/-/raw/main/webfonts/cmunss-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {  /* sans serif bold */
	font-family: 'cmu_sans';
	src: url('https://gitlab.com/isonder/cmfonts/-/raw/main/webfonts/cmunsx-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {  /* sans serif italic */
	font-family: 'cmu_sans';
	src: url('https://gitlab.com/isonder/cmfonts/-/raw/main/webfonts/cmunsi-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {  /* sans serif bold italic */
	font-family: 'cmu_sans';
	src: url('https://gitlab.com/isonder/cmfonts/-/raw/main/webfonts/cmunso-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/* Serif font */
@font-face { /* serif regular */
	font-family: 'cmu_serif';
	src: url('cmunrm-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face { /* serif bold */
	font-family: 'cmu_serif';
	src: url('cmunbx-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face { /* serif italic */
	font-family: 'cmu_serif';
	src: url('cmunti-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face { /* serif bold italic */
	font-family: 'cmu_serif';
	src: url('cmunbi-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/* Monospaced font */
@font-face { /* mono regular */
	font-family: 'cmu_mono';
	src: url('cmuntt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face { /* mono bold */
	font-family: 'cmu_mono';
	src: url('cmuntb-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face { /* mono italic */
	font-family: 'cmu_mono';
	src: url('cmunit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face { /* mono bold italic */
	font-family: 'cmu_mono';
	src: url('cmuntx-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
